@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 主题切换-三级容器背景 */
.arco-theme-color-bg-3 {
  /* color: var(--color-bg-3); */
  background-color: var(--color-bg-3);
}

/* 主题切换一级级容器背景 */
.arco-theme-color-bg-1 {
  /* color: var(--color-bg-1); */
  background-color: var(--color-bg-1);
}

/* 页面版心 */
/* .sys-layout {
  width: 1200px;
  margin: 0 auto;
} */

/* 页面版心 */
/* .sys-layout-h5 {
  width: 350px;
  margin: 0 auto;
} */
